.ulProduct {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  margin: 0 auto;
  height:   331px;  
  width: 93vw;
  margin-top: 15px;
}

@media (min-width: 1024px) {
  .ulProduct {
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-x: hidden;
    width: 60vw;
    margin: 0;
    height: 680px;
    margin-top: 20px;
  }
}

@media (min-width: 1440px){
  .ulProduct{
    height: 83vh;
    width: 66vw;
  }
}

@media (min-width: 1546px){
  .ulProduct{
    max-width: 1000px;
    overflow-x: hidden;
  }
}
