.containerPrice {
  background-color: #f5f5f5;
  margin: 0 auto;
  height: 50px;
width: 93vw;
}

.containerTotal {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  color: #333333;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  padding: 12px 13px;
  width: 100%;
}

.removeAll{
  background-color: #f5f5f5;
  width: 100%;
  padding: 5px 0px 15px 15px;
}

.buttonRemoveAll {
  font-family: "Inter";
  font-style: normal;
  background-color: #e0e0e0;
  color: #828282;
  border-style: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  height: 45px;
transition: 0.5s;
width: 95%;
}

.buttonRemoveAll:hover{
  background-color: #828282;
  color: #ffffff
}

.productPriceCart {
  font-family: "Inter";
  font-style: normal;
  color: #828282;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

hr{
border: 1px solid #e0e0e0;
  margin: 0 auto;
  width:90%
}

@media (min-width: 1020px){
  .containerPrice{
    width: 32vw;
    max-width: 337px;
  }

  .removeAll{
    /* width: 33vw; */
  }
}

@media (min-width: 1440px){
  .containerPrice{
    /* width: 27vw; */
  }

  .removeAll{
    /* width: 27vw; */
  }
}