.containerCart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.productImgCart {
  background-color: #E0E0E0;
  border-radius: 4px;
  height: 70px;
  width: 70px;
}

.productNameCart {
  font-family: "Inter";
  font-style: normal;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
  color: #333333;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  width: 129px;
  padding-right: 40px
 
}

.productCategoryCart {
  font-family: "Inter";
  font-style: normal;
  color: #828282;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.containerCartDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 9vh;
  margin-right: 10%;
  width: 129px;
}

@media (min-width: 375px){
  .containerCartDetails{
    margin-right: 20%;
  }

  .productNameCart{
    overflow:visible;
  }
}

@media (min-width: 425px){
  .containerCartDetails{
    margin-right: 30%;
  }
}

@media (min-width: 768px){
  .containerCartDetails{
    margin-right: 60%;
  }
}

@media (min-width: 1024px){
  .containerCartDetails{
    margin-right: 60px;
  }
}

@media (min-width: 1440px){
  .containerCart{
    justify-content: space-evenly;
  }
}


